.error {
  background-color: rgba(17, 17, 17, 0.616);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    width: 50rem;
    padding: 5rem;
    margin: auto;
    border-radius: 10px;

    p {
      font-size: 1.7rem;
      line-height: 2.5rem;
      text-align: center;
      margin-bottom: 3rem;
    }

    button {
      border: none;
      background-color: #ca2a1e;
      padding: 1rem;
      font-family: "Quicksand";
      color: #EBF2F2;
    }
  }
}
