.landing {
  background-image: url("https://images.unsplash.com/photo-1546069901-5ec6a79120b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-right: 15%;
  color: #41636e;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 17%;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 243, 243, 0.91);
  }

  &__header {
    width: 60rem;
    margin-top: 7%;
    text-transform: uppercase;

    & h1 {
      font-size: 8.5rem;
      font-weight: 300;
      transform: translateX(-1%);
    }

    & h2 {
      font-size: 5.5rem;
      margin-bottom: 1.5rem;
    }

    & p {
      font-size: 2.5rem;
      text-transform: none;
      margin-bottom: 10rem;
    }
  }

  &__form {
    border-radius: 5px;
    width: 100%;
  }
}

@media screen and (max-width: 48em) {
  .landing {
    padding-right: 0;

    &__content {
      width: 100%;
      padding-right: 15%;
    }

    &__header {
      width: 100%;

      h1 {
        font-size: clamp(6rem, 7.5vh + 1rem, 7.5vh);
      }

      h2 {
        font-size: clamp(4.5rem, 5.5vh + 1rem, 5.5vh);
      }

      p {
        font-size: clamp(2.5rem, 3vh + 1rem, 3vh);
        line-height: clamp(3.5rem, 4.2vh + 1rem, 4.2vh);
        margin-bottom: 5rem;
      }
    }
  }
}

// landscape
@media screen and (max-width: 60em) and (max-height: 25.875em) and (orientation: landscape) {
  .landing {
    &__header {
      h1 {
        font-size: clamp(4.5rem, 14.5vh + 1rem, 14.5vh);
      }

      h2 {
        font-size: clamp(2.5rem, 9.5vh + 1rem, 9.5vh);
      }

      p {
        font-size: clamp(1.8rem, 4.5vh + 1rem, 4.5vh);
        line-height: 3rem;
        margin-bottom: clamp(0.5rem, 10vh + 1rem, 10vh);
      }
    }
  }
}
