.search {
  display: flex;
  border-radius: 5px;
  overflow: hidden;

  &__input {
    height: 4.5rem;
    width: 100%;

    input {
      height: 100%;
      width: 100%;
      padding-left: 1rem;
      border: none;
      background-color: rgb(240, 240, 240);
      outline: none;
      font-size: 1.9rem;

      &:focus {
        background-color: #faf9e8;
      }
    }
  }

  &__button {
    width: 20%;

    button {
      height: 100%;
      width: 100%;
      background-color: #18945a;
      color: #ebf2f2;
      font-size: 1.6rem;
      letter-spacing: .12rem;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #157e4d;
      }
    }
  }
}

@media screen and (max-width: 48em) {
  .search {
    flex-direction: column;

    &__input {
      height: 5rem;
    }

    &__button {
      width: 100%;
      height: 5rem;
    }
  }
}