.ingredients {
  margin: 10% 0;

  h2 {
    font-size: 4rem;
    color: #41636e;
  }

  &__items {
    padding: 3rem 0;
    list-style: none;

    li {
      padding-left: 3rem;
      font-size: 2rem;
      line-height: 5rem;
      font-weight: 500;

      span {
        color: #41636e;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    h3 {
      font-size: 2rem;
      color: #41636e;
      margin-right: 2.5rem;
    }

    p {
      font-size: 2rem;
      color: #41636e;
      width: 5rem;
     
    }

    button {
      background-color: #41636e;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.5rem;
      width: 3.5rem;
      font-size: 2rem;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;

      &:hover {
        transform: scale(1.07)
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}

@media screen and (max-width: 37.5em) {
  .ingredients {
    margin: 10rem 0;
  }
}