.method {
  margin: 10% 0;

  h2 {
    font-size: 4rem;
    color: #41636e;
  }

  &__listItem {
    margin-top: 3rem;
    border-bottom: 5px solid rgba(217, 220, 221, 0.301);
    list-style: none;

    h2 {
      font-size: 5.5rem;
      font-weight: 300;
      letter-spacing: 0.5rem;
      color: #d9dcdd;
    }

    p {
      padding: 1.5rem 0 3rem 3rem;
      line-height: 3.5rem;
      font-size: 2rem;
      font-weight: 500;
    }
  }
}