.recipeInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10% 15%;
  border-radius: 20px;
  background-color: rgb(252 252 252 / 88%);
  text-transform: capitalize;
  color: #519cb5;

  &__noContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    gap: 1rem;

    h1 {
      font-size: 2.5rem;
    }

    a {
      font-size: 1.7rem;
      color: #41636e;
    }
  }

  &__heading {
    display: flex;
    background-color: rgb(241, 239, 235, .78);
  }

  &__image {
    position: relative;
    min-height: 40vh;
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-right-radius: 10rem;
  }

  &__action {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: #41636e;
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
  }

  &__title {
    width: 50%;
    margin: auto;
    padding: 5%;
    color: #41636e;

    h1 {
      margin-bottom: 2rem;
      font-size: 2.4rem;
      font-weight: 600;
    }

    h3 {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 300;
    }
  }
}