.recipeItem {
  list-style: none;
  position: relative;
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: scale(1.01);
  }

  &__content {
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    color: #ebeded;
    overflow: hidden;
  }

  &__text {
    background: linear-gradient(
      rgba(4, 4, 4, 0.32),
      rgba(0, 0, 0, 0.75),
      rgb(0 0 0)
    );

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 12rem;
    width: 100%;
    padding: 1.8rem;

    h2 {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.5rem;
      margin-bottom: 2rem;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}

.action {
  position: absolute;
  bottom: 5%;
  right: 0;
  margin-right: 3rem;
}
