.recipeInfo {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  padding: 10% 0%;
  border-radius: 20px;
  background-color: rgb(252 252 252 / 88%);
  text-transform: capitalize;
  color: #519cb5;

  &__noContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    gap: 1rem;
    margin: auto;

    h1 {
      font-size: 2.5rem;
    }

    a {
      font-size: 1.7rem;
      color: #41636e;
    }
  }

  &__loading {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1 {
      font-size: 2.5rem;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  &__image {
    height: 35rem;
    width: 55rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
    margin: auto;
    padding: 5rem 10%;
    background-color: rgb(241, 239, 235, .78);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #41636e;

    h1 {
      font-size: 2.4rem;
      font-weight: 600;
      text-align: center;
    }

    h3 {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  &__subInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;

    span {
      color: #ffc100;
      font-weight: 600;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #41636e;
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
  }

  &__content {
    padding: 0 15%;
  }
}

@media screen and (max-width: 60em) {
  .recipeInfo {
    border-radius: 0;
  }
}

@media screen and (max-width: 37.5em) {
  .recipeInfo {
    padding: 0;

    &__heading {
      gap: 0;
    }

    &__image {
      width: 100%;
      border-radius: 0;
    }

    &__title {
      align-items: flex-start;

      h1 {
        text-align: left;
      }
    }

    &__subInfo {
      flex-direction: column;
      gap: 2.5rem;
    }

    &__content {
      padding: 0 10%;
    }

  }
}